 <!-- Breadcrumb Section Begin -->
 <section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Tarif</h2>
                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i> ACCEUIL</a>
                        <span>Nos Tarifs</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Membership Section Begin -->
<section style="padding: 9px;" class="membership-section spad">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2 style="font-size: 40px; color: aliceblue;">Notre Plans</h2>
                </div>
            </div>
        </div> -->
        <br><br>
        <div class="row">
            <div class="col-lg-4" *ngFor="let tarif of listetarif">
                <div class="membership-item">
                    <div class="mi-title">
                        <h4 style="color: black;">{{tarif.nom}} </h4>
                        
                        <div class="triangle"></div>
                    </div>
                    <h2 class="mi-price">{{tarif.prix}} <span>/mois (engagement 12 mois)</span></h2>
                    <ul>
                        <li>
                            <span>{{tarif.description}}&nbsp;&nbsp;&nbsp;</span>
                        </li>
                       
                    </ul>
                    <a href="#" class="primary-btn membership-btn">Start Now</a>
                </div>
            </div>
          
            
              
        </div>
    </div>
    <br><br>
</section>
<br>
<!-- Membership Section End -->
