<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Date De Naissance</th>
      <th scope="col">Email</th>
      <th scope="col">Telephone</th>
      <th scope="col">Poids</th>


    </tr>
  </thead>
  <tbody *ngFor="let utilisateur of utilisateur | async">
    <tr>
      <td> {{ utilisateur.nom }}</td>
      <td> {{ utilisateur.prenom }}</td>
      <td> {{ utilisateur.datenaiss }}</td>
      <td> {{ utilisateur.email }}</td>
      <td> {{ utilisateur.telephone }}</td>
      <td> {{ utilisateur.poids }}</td>
    </tr>

  </tbody>
</table>
