<form>
    <div class="mb-3"><label for="nom" class="form-label">Nom Activité</label><input type="text"
        class="form-control" [(ngModel)]="act.nomA"/>
  
    </div>
    <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Description Activités</label><input type="text"
        class="form-control" id="exampleInputPassword1"  [(ngModel)]="act.DescriptionA"></div>
  
      
  
          <div class="mb-3"><label for="exampleInputPassword1" class="form-label" >Image Avtivite</label><input type="text"
            class="form-control" id="exampleInputPassword1" placeholder="Entrer votre URL "  [(ngModel)]="act.imageA"></div>
            <button type="submit"
    class="btn btn-primary" (click)="add()">Ajouter un activite</button>
</form>
