<!-- Hero Section Begin -->
<section class="hero-section set-bg" data-setbg="assets/img/hero-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="hero-text">
                    <span style="font-size: 35px;">FITNESS POWER</span>
                    <h1>BMI CALCULATOR</h1>
                    <p style="font-size: 20px;">Votre salle de sport par excellence. <br /> Bienvenue entre nous</p>
                    <a href="#" class="primary-btn">Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- About Section Begin -->
<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-pic">
                    <img src="assets/img/salle.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=Jdw82Kr-11M&t=58s" class="play-btn video-popup">
                        <img src="assets/img/play.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-text">
                    <h2 style="font-size: large; color: chocolate;"><b>Fitness Power</b></h2>
                    <p class="first-para" style="color: aliceblue;">Profitez d'un cadre agréable, des espaces aérés et climatisés, des équipements de pointe et des coachs qualifiés pour vous encadrer, vous motiver et vous soutenir.</p>
                    <p class="second-para" style="color: aliceblue;">Fitness Power est une salle de sport et de fitness qui vous propose des cours variés dans un espace de Fitness destiné aux adultes, ados et enfants. Vous trouverez tous ce qu'il vous faut dans nos espaces de musculation et Cardio Training avec un matériel de qualité.</p>
                    <a href="#" class="primary-btn">Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<section class="services">
    <!-- <h1>N services</h1> -->
    <p style="font-size: 160%; color: aliceblue;">NOS SERVICES</p><br>
    <h3 style="font-size: 1cm; color: #f67831">TRAINING PROGRAMS</h3>
    <br>
    <div  class="container">
        <div class="box" *ngFor="let activite of listeact">
            <img src={{activite.imageA}}>
            <div class="info">
                <h3 style="color: #f67831;"><b>{{activite.nomA}}</b></h3>
                <p>{{activite.descriptionA}}</p>
                <button class="btn">more</button>
            </div>
        </div>
    </div>
</section>
<!-- Trainer Section Begin -->

<!-- Classes Section Begin -->
<section class="classes-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>UNLIMITED CLASSES</h2>
                </div>
            </div>
        </div>
        <div class="row classes-slider owl-carousel">
            <div class="col-lg-4">
                <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-1.jpg">
                    <div class="si-text">
                        <h4>Yoga</h4>
                        <span><i class="fa fa-user"></i> Ryan Knight</span>
                    </div>
                </div>
                <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-4.jpg">
                    <div class="si-text">
                        <h4>Karate</h4>
                        <span><i class="fa fa-user"></i> Kevin McCormick</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-2.jpg">
                    <div class="si-text">
                        <h4>Running</h4>
                        <span><i class="fa fa-user"></i> Randy Rivera</span>
                    </div>
                </div>
                <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-5.jpg">
                    <div class="si-text">
                        <h4>Dance</h4>
                        <span><i class="fa fa-user"></i> Russell Lane</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-3.jpg">
                    <div class="si-text">
                        <h4>Personal Training</h4>
                        <span><i class="fa fa-user"></i> Cole Robertson</span>
                    </div>
                </div>
                <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-6.jpg">
                    <div class="si-text">
                        <h4>Weight Loss</h4>
                        <span><i class="fa fa-user"></i> Ryan Scott</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-7.jpg">
                    <div class="si-text">
                        <h4>Personal Training</h4>
                        <span><i class="fa fa-user"></i> Cole Robertson</span>
                    </div>
                </div>
                <div class="single-class-item set-bg" data-setbg="assets/img/classes/classes-8.jpg">
                    <div class="si-text">
                        <h4>Weight Loss</h4>
                        <span><i class="fa fa-user"></i> Ryan Scott</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Classes Section End -->

<!-- Trainer Section Begin -->
<section class="trainer-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>EXPERT TRAINERS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-trainer-item">
                    <img src="assets/img/trainer/trainer-1.jpg" alt="">
                    <div class="trainer-text">
                        <h5>Patrick Cortez</h5>
                        <span>Leader</span>
                        <p>non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        </p>
                        <div class="trainer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-trainer-item">
                    <img src="assets/img/trainer/trainer-2.jpg" alt="">
                    <div class="trainer-text">
                        <h5>Gregory Powers</h5>
                        <span>Gym coach</span>
                        <p>non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        </p>
                        <div class="trainer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-trainer-item">
                    <img src="assets/img/trainer/trainer-3.jpg" alt="">
                    <div class="trainer-text">
                        <h5>Walter Wagner</h5>
                        <span>Dance trainer</span>
                        <p>non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        </p>
                        <div class="trainer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trainer Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>success stories</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="testimonial-slider owl-carousel">
                    <div class="testimonial-item">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        <div class="ti-pic">
                            <img src="assets/img/testimonial/testimonial-1.jpg" alt="">
                            <div class="quote">
                                <img src="assets/img/testimonial/quote-left.png" alt="">
                            </div>
                        </div>
                        <div class="ti-author">
                            <h4>Patrick Cortez</h4>
                            <span>Leader</span>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        <div class="ti-pic">
                            <img src="assets/img/testimonial/testimonial-1.jpg" alt="">
                            <div class="quote">
                                <img src="assets/img/testimonial/quote-left.png" alt="">
                            </div>
                        </div>
                        <div class="ti-author">
                            <h4>Patrick Cortez</h4>
                            <span>Leader</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->

<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="assets/img/banner-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-text">
                    <h2>Get training today</h2>
                    <p>Gimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard.</p>
                    <a href="#" class="primary-btn banner-btn">Contact Now</a>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="assets/img/banner-person.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Membership Section Begin -->
<section class="membership-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2 style="font-size: 40px; color: aliceblue;">Notre Plans</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" *ngFor="let tarif of listetarif">
                <div class="membership-item">
                    <div class="mi-title">
                        <h4 style="color: black;">{{tarif.nom}}</h4>
                        
                        <div class="triangle"></div>
                    </div>
                    <h2 class="mi-price">{{tarif.prix}}<span>/mois (engagement 12 mois)</span></h2>
                    <ul>
                        <li>
                            <span>{{tarif.description}}</span>
                        </li>
                       
                    </ul>
                    <a href="#" class="primary-btn membership-btn">Start Now</a>
                </div>
            </div>
          
            
              
        </div>
    </div>
    <br><br>
</section>
<br>
<!-- Membership Section End -->

<!-- Register Section Begin -->
<!-- <section style="background-color: rgba(128, 128, 128, 0.11);" class="register-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="register-text">
                    <div class="section-title">
                        <h2>Inscrivez-vous </h2>
                    </div>

                    <form action="#" class="register-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="name">Nom</label>
                                <input type="text" id="name">
                            </div>
                            <div class="col-lg-6">
                                <label for="email">Email</label>
                                <input type="text" id="email">
                            </div>
                            <div class="col-lg-6">
                                <label for="last-name">Prenom</label>
                                <input type="text" id="last-name">
                            </div>
                            <div class="col-lg-6">
                                <label for="mobile">Telephone</label>

                                <input type="text" id="mobile">
                            </div>
                            <div class="col-lg-6">
                                <label for="pass">Mots De Passe </label>

                                <input type="text" id="password">
                            </div>
                            <div class="col-lg-6">
                                <label for="date">Date de Naissance</label>
                                <input type="date" id="dt">
                            </div>
                            <div class="col-lg-6">
                                <label for="mobile">Poids</label>

                                <input type="number" id="pd">
                            </div>
                            <div class="col-lg-6">
                                <label for="taille">Taille</label>

                                <input type="number" id="tl">
                            </div>


                        </div>
                        <button type="submit" class="register-btn">Créer un compte </button>
                        <div style="text-align:center">
                            <p>Avez-vous déjà un compte? <a routerLink="/login"> Se Connecter.</a></p>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="register-pic">
                    <img src="assets/img/image1.jpg" alt="" style="margin: 60px ;">
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- Register Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest-blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Latest Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item">
                    <img src="assets/img/blog/blog-1.jpg" alt="">
                    <div class="blog-widget">
                        <div class="bw-date">February 17, 2019</div>
                        <a href="#" class="tag">#Gym</a>
                    </div>
                    <h4><a href="#">10 States At Risk of Rural Hospital Closures</a></h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item">
                    <img src="assets/img/blog/blog-2.jpg" alt="">
                    <div class="blog-widget">
                        <div class="bw-date">February 17, 2019</div>
                        <a href="#" class="tag">#Sport</a>
                    </div>
                    <h4><a href="#">Diver who helped save Thai soccer team</a></h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item">
                    <img src="assets/img/blog/blog-3.jpg" alt="">
                    <div class="blog-widget">
                        <div class="bw-date">February 17, 2019</div>
                        <a href="#" class="tag">#Body</a>
                    </div>
                    <h4><a href="#">Man gets life in prison for stabbing</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->

<!-- Footer Banner Section Begin -->
<section class="footer-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-banner-item set-bg" data-setbg="assets/img/footer-banner/footer-banner-1.jpg">
                    <span>New member</span>
                    <h2>7 days for free</h2>
                    <p>Complete the training sessions with us, surely you will be happy</p>
                    <a href="#" class="primary-btn">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-banner-item set-bg" data-setbg="assets/img/footer-banner/footer-banner-2.jpg">
                    <span>contact us</span>
                    <h2>09 746 204</h2>
                    <p>If you trust us on your journey they dark sex does not disappoint you!</p>
                    <a href="#" class="primary-btn">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer Banner Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-option">
                    <span>Phone</span>
                    <p>(123) 118 9999 - (123) 118 9999</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-option">
                    <span>Address</span>
                    <p>72 Kangnam, 45 Opal Point Suite 391</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-option">
                    <span>Email</span>
                    <p>contactcompany@Gutim.com</p>
                </div>
            </div>
        </div>
        <div class="subscribe-option set-bg" data-setbg="assets/img/footer-signup.jpg">
            <div class="so-text">
                <h4>Subscribe To Our Mailing List</h4>
                <p>Sign up to receive the latest information </p>
            </div>
            <form action="#" class="subscribe-form">
                <input type="text" placeholder="Enter Your Mail">
                <button type="submit"><i class="fa fa-send"></i></button>
            </form>
        </div>
        <div class="copyright-text">
            <ul>
                <li><a href="#">Term&Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            <p>&copy;
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->


<Script>
    $(window).on('load', function() {
        $('.set-bg').each(function() {
            var bg = $(this).data('setbg');
            $(this).css('background-image', 'url(' + bg + ')');
        });
    })
</Script>